#users section {
  border: .125em solid black;
  border-radius: .25em;
  margin-bottom: .5em;
}

.instructions li {
  display: inline;
  border: .125em solid black;
  border-radius: .25em;
  margin-bottom: .5em;
  padding: .25em;
}
